src/main/mule/main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<import doc:name="Import" doc:id="92a4902a-7b24-4d7f-8095-2bc9365d0995" file="templates.xml" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4dc2d0bd-e2d9-45b6-a455-942be6e1241e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testFlow" doc:id="d9ea8c44-5fa4-4b1c-be92-3a5023c03b0c" >
		<http:listener doc:name="Listener" doc:id="a63de683-8133-40b0-8fdd-a220d31e77fc" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value="#[[]]" doc:name="Set Payload" doc:id="9001dcbf-fc8f-4ebc-8cbf-04d80120b8da" />
		<flow-ref doc:name="Flow Reference" doc:id="6a150c8a-ee39-453e-82e4-a205df71359c" name="testFlow"/>
	</flow>
</mule>
